<div class="container center">
    <section>
        <h1>About Angular</h1>
        <p>Angular is a UI development framework written in TypeScript. It was made by google!</p>
        <p>It supports a variety of features out of the box, such as:</p>
        <ul>
            <li>Custom Components</li>
            <li>Two way data binding</li>
            <li>Custom HTML events</li>
            <li>Routing</li>
            <li>Scoped styles / Encapsulated sytles</li>
            <li>Server Side Rendering</li>
        </ul>
    </section>
</div>
